html, body {
    height: 85%;
}

body{
  margin: 0;
  background-image: url("Hanoi.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.board{
  height: 75%;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
}

/*THE COLUMNS*/
#left, #middle, #right{
  flex-direction: column;
  display: flex;
  height:300px;
  width: 20px;
  border-radius: 35px;
  background-color: rgba(173, 123, 70, 0.89);
  align-items: center;
  cursor: move;
  justify-content: flex-end;

}

/*ring 1*/
#one{
  background-color: rgba(205, 33, 33, 0.80);
  border-radius: 35px;
  padding: 5px;
  width: 100px;
  height: 40px;
}

/*ring 2*/
#two{
  background-color: rgba(255, 255, 64, 0.80);
  border-radius: 35px;
  padding: 5px;
  width: 150px;
  height: 40px;
}

/*ring 3*/
#three{
  background-color: rgba(205, 33, 33, 0.80);
  border-radius: 35px;
  padding: 5px;
  width: 200px;
  height: 40px;
}

/*ring 4*/
#four{
  background-color: rgba(255, 255, 64, 0.80);
  border-radius: 35px;
  padding: 5px;
  width: 250px;
  height: 40px;
}

/*ring 5*/
#five{
  background-color: rgba(205, 33, 33, 0.80);
  border-radius: 35px;
  padding: 5px;
  width: 300px;
  height: 40px;
}


h1{
  padding-left: 110px;
  font-family:'Andika', sans-serif;
  color: #b08505
}

h3{
  text-decoration: underline;
  padding-left: 120px;
  font-family:'Andika', sans-serif;
  color: #b02e05
}

p{
  padding-left: 120px;
  font-family:'Andika', sans-serif;
}
