html, body {
    height: 100%;
}

body{
  margin: 0;
  background-image: url("hanoi.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.board{
  height: 75%;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;

}

/*.base{
  width:auto;
  list-style: none;
  flex-direction: column;
  display: flex;
  height:20px;
  width: 200px;
  align-items: center;
  background-color: black;
}*/

#left, #middle, #right{
  width:auto;
  list-style: none;
  flex-direction: column;
  display: flex;
  height:200px;
  width: 200px;
  align-items: center;
  cursor: move;
  /*width: 0px;*/
  /*background-color: rgba(66, 68, 65, 0.38);*/
  /*border-radius: 50px;*/
}

#one{
  background-color: rgba(205, 33, 33, 0.80);
  border-radius: 35px;
  padding: 5px;
  width: 100px;
  height: 40px;
}

#two{
  background-color: rgba(255, 255, 64, 0.80);
  border-radius: 35px;
  padding: 5px;
  width: 150px;
  height: 40px;
}

#three{
  background-color: rgba(205, 33, 33, 0.80);
  border-radius: 35px;
  padding: 5px;
  width: 200px;
  height: 40px;
}
